body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #282c34;
  padding: 1rem;
  color: white;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #21a1f1;
}

#app-container {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

h1, h2 {
  color: #48bfe0;
  text-align: center;
  padding: 2rem;
  background-color: #6ac1d65d;
  border-radius: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease-in-out;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
